!.keep

# will have compiled files and executables
/target

# will have all package artifacts
/pkgs

# Ncube config databases and connection objects
ncube*.db*
connection.json

# annoying mac artifacts
.DS_Store

# Rust
# Cargo.lock
**/*.rs.bk

# NodeJS
node_modules
yarn*.log
npm*.log
.node_repl_history

# Typescript
.log

# Eslint
.eslintcache

# Sugarcube Workspace
resources/workspace/config/secrets.json
resources/workspace/.sugarcube_cache.json
resources/workspace/node_modules
