@import "tachyons";

@tailwind base;
@tailwind components;

:root {
  /* Main colors. Headers, infotext, buttons, borders */

  --color-canvas: #faf8f7;
  --color-bittersweet: #fd7268;
  --color-sapphire: #0a2463;
  --color-fair-pink: #f8ece8;
  --color-solitude: #dfe2ec;

  /* Gray scale. Secondary text, disable status, borders */

  --color-gray-75: #474747;
  --color-gray-25: #c0bfbf;

  /* Feedback Colors */

  --color-success: #78d397;
  --color-error: #c94d07;

  /* Sources Colors */

  --color-youtube: #e52d27;
  --color-twitter: #08a0e9;
  --color-http: #463764;

  /* Random Colors */

  --color-washed-red: #e19f9f;
  --color-washed-purple: #c4ccea;
  --color-washed-blue: #a2cae0;
  --color-washed-green: #b6ddb0;
  --color-washed-yellow: #e4d976;
}

.fair-pink {
  color: var(--color-fair-pink);
}

.solitude {
  color: var(--color-solitude);
}

.gray-25 {
  color: var(--color-gray-25);
}

.gray-75 {
  color: var(--color-gray-75);
}

.success {
  color: var(--color-success);
}

.error {
  color: var(--color-error);
}

/* Borders */

.b--canvas {
  border-color: var(--color-canvas);
}

.b--bittersweet {
  border-color: var(--color-bittersweet);
}

.b--sapphire {
  border-color: var(--color-sapphire);
}

.b--fair-pink {
  border-color: var(--color-fair-pink);
}

.b--solitude {
  border-color: var(--color-solitude);
}

.b--gray-25 {
  border-color: var(--color-gray-25);
}

.b--gray-75 {
  border-color: var(--color-gray-75);
}

.b--error {
  border-color: var(--color-error);
}

.b--youtube {
  border-color: var(--color-youtube);
}

.b--twitter {
  border-color: var(--color-twitter);
}

.b--url {
  border-color: var(--color-url);
}

/* Global elements */
form {
  @apply flex flex-col max-w-lg;
}

::placeholder {
  @apply gray-25 opacity-100;
}

/* Tables */

th {
  @apply p-2;
}

td {
  @apply border-r border-b b--sapphire p-2;
  position: relative;
}

tr {
  @apply bg-white;
}

tr:hover {
  @apply bg-canvas;
}

.card tr:hover {
  @apply bg-white;
}

.trash {
  cursor: pointer;
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  left: -40px;
}

tr:hover .trash {
  display: block;
}

.no-hover {
  pointer-events: none;
}

/* Multi Select */
.select {
  position: relative;
}
.select > input {
  height: 35px;
  margin: 0;
  width: 100%;
  padding-right: 26px;
  border-radius: 0px;
  border: 1px solid #dfe2ec;
}
.select > button {
  position: absolute;
  right: 3px;
}

/* Search Bar Input */
.search-bar {
  position: relative;
}
.search-bar > input {
  height: 40px;
  margin: 0;
  width: 100%;
  padding-right: 26px;
  border-radius: 0px;
  border: 1px solid #dfe2ec;
}
.search-bar > button {
  position: absolute;
  right: 3px;
}

/* Other elements  */
.base-tag {
  @apply py-3 h-6 rounded-full text-center font-bold uppercase;
}

.tag {
  @apply base-tag;
  width: auto;
}

.short-tag {
  @apply base-tag;
  width: 3.5rem;
  color: white;
}

.fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s ease;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s ease;
}

/* Workspace Select */
/* See: https://github.com/filamentgroup/select-css/blob/master/src/select-css.css */
.workspace-select {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 0;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient.
		for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference

	*/
  background-image: url("../../resources/public/images/icon_workspace_select.svg");
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right 0.7em top 50%, 0 0;
  /* icon size, then gradient */
  background-size: 0.65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.workspace-select::-ms-expand {
  display: none;
}
/* Hover style */
.workspace-select:hover {
  @apply border-solitude;
}

/* Set options to normal weight */
.workspace-select option {
  font-weight: normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .workspace-select,
:root:lang(ar) .workspace-select,
:root:lang(iw) .workspace-select {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}

/* Disabled styles */
.workspace-select:disabled,
.workspace-select[aria-disabled="true"] {
  @apply text-gray-light;
  background-image: url("../../resources/public/images/icon_workspace_select.svg");
}

.workspace-select:disabled:hover,
.workspace-select[aria-disabled="true"] {
  @apply border-solitude;
}

@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Noto Sans Bold"), local("NotoSans-Bold"),
      url(../../resources/public/fonts/NotoSans-Bold.ttf) format("truetype");
  }

  @font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Noto Sans"), local("NotoSans"),
      url(../../resources/public/fonts/NotoSans-Regular.ttf) format("truetype");
  }

  html {
    @apply font-noto;
    font-size: 16px;
  }

  body {
    @apply text-gray-dark bg-canvas;
  }

  body:not(.user-is-tabbing) button:focus,
  body:not(.user-is-tabbing) input:focus,
  body:not(.user-is-tabbing) select:focus,
  body:not(.user-is-tabbing) textarea:focus {
    outline: none;
  }
}

@layer utilities {
  .header1 {
    @apply text-3xl text-sapphire leading-none;
  }
  .header2 {
    @apply text-2xl text-sapphire leading-none;
  }
  .header3 {
    @apply text-xl text-sapphire leading-none;
  }
  .header4 {
    @apply text-lg text-sapphire leading-none;
  }
  .header5 {
    @apply text-md leading-none;
  }

  .animate-delay-100 {
    animation-delay: 0.1s;
  }
  .animate-delay-300 {
    animation-delay: 0.3s;
  }
  .animate-delay-500 {
    animation-delay: 0.5s;
  }
}
