@import "tachyons";

:root {
  /* Main colors. Headers, infotext, buttons, borders */

  --color-canvas: #faf8f7;
  --color-bittersweet: #fd7268;
  --color-sapphire: #0a2463;
  --color-fair-pink: #f8ece8;
  --color-solitude: #eff3fc;

  /* Gray scale. Secondary text, disable status, borders */

  --color-gray-75: #474747;
  --color-gray-25: #c0bfbf;

  /* Feedback Colors */

  --color-success: #78d397;
  --color-error: #c94d07;

  /* Sources Colors */

  --color-youtube: #e52d27;
  --color-twitter: #08a0e9;
  --color-url: #463764;

  /* Random Colors */

  --color-washed-red: #e19f9f;
  --color-washed-purple: #c4ccea;
  --color-washed-blue: #a2cae0;
  --color-washed-green: #b6ddb0;
  --color-washed-yellow: #e4d976;
}

/* Colors */
.canvas {
  color: var(--color-canvas);
}

.bittersweet {
  color: var(--color-bittersweet);
}

.sapphire {
  color: var(--color-sapphire);
}

.fair-pink {
  color: var(--color-fair-pink);
}

.solitude {
  color: var(--color-solitude);
}

. {
  color: var(--color-);
}

.gray-25 {
  color: var(--color-gray-25);
}

.gray-75 {
  color: var(--color-gray-75);
}

.success {
  color: var(--color-success);
}

.error {
  color: var(--color-error);
}
/* Background */

.bg-canvas {
  background: var(--color-canvas);
}

.bg-bittersweet {
  background: var(--color-bittersweet);
}

.bg-sapphire {
  background: var(--color-sapphire);
}

.bg-fair-pink {
  background: var(--color-fair-pink);
}

.bg-solitude {
  background: var(--color-solitude); /* Background of tags */
}

.bg-gray-25 {
  background: var(--color-gray-25);
}

.bg-gray-75 {
  background: var(--color-gray-75);
}

.bg-success {
  background: var(--color-success);
}

.bg-error {
  background: var(--color-error);
}
/* Background */

.bg-youtube {
  background: var(--color-youtube);
}

.bg-twitter {
  background: var(--color-twitter);
}

.bg-url {
  background: var(--color-url);
}

/* Borders */

.b--canvas {
  border-color: var(--color-canvas);
}

.b--bittersweet {
  border-color: var(--color-bittersweet);
}

.b--sapphire {
  border-color: var(--color-sapphire);
}

.b--fair-pink {
  border-color: var(--color-fair-pink);
}

.b--solitude {
  border-color: var(--color-solitude);
}

.b--gray-25 {
  border-color: var(--color-gray-25);
}

.b--gray-75 {
  border-color: var(--color-gray-75);
}

.b--error {
  border-color: var(--color-error);
}

.b--youtube {
  border-color: var(--color-youtube);
}

.b--twitter {
  border-color: var(--color-twitter);
}

.b--url {
  border-color: var(--color-url);
}

/* Fonts and text */

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"),
    url(../../resources/public/fonts/NotoSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Noto Sans"), local("NotoSans"),
    url(../../resources/public/fonts/NotoSans-Regular.ttf) format("truetype");
}

.noto {
  font-family: "Noto Sans", sans-serif;
}

.header1 {
  font-size: 3.052em;
  color: var(--color-sapphire);
}
.header2 {
  font-size: 2.441em;
}
.header3 {
  font-size: 1.953em;
}
.header4 {
  font-size: 1.563em;
}
.header5 {
  font-size: 1.25em;
}

.text-medium {
  font-size: 0.8em;
}

.text-small {
  font-size: 0.64em;
}

/* Butons */

.btn {
  @insert .white .link .pa2 .ttu .br2 .tc .b .nowrap;
  border-radius: 2px;
}

.btn-active {
  @insert .btn;
  cursor: pointer;
}

.btn-active:hover {
  @insert .o-50;
}

.btn-disabled {
  @insert .btn .gray-75 .bg-white .b--gray-75 .o-50;
  cursor: unset;
}

.btn-sapphire {
  @insert .bg-sapphire .b--sapphire;
}

.btn-bittersweet {
  @insert .bg-bittersweet .b--bittersweet;
}

.btn-black {
  @insert .bg-black .b--black;
}

.btn-large {
  width: 12rem;
}

.btn-regular {
  width: 6rem;
}

/* Global elements */

body {
  font-size: 16px;
  letter-spacing: 0.01em;
}

form {
  @insert .flex .flex-column .mw6;
}

::placeholder {
  @insert .gray-25 .o-100;
}

/* Tables */

th {
  @insert .pa2;
}

td {
  @insert .ba .b--sapphire .pa2;
  position: relative;
}

tr {
  @insert .bg-white;
}

tr:hover {
  @insert .bg-canvas;
}

span.trash {
  cursor: pointer;
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -20px;
}

tr:hover span.trash {
  display: block;
}

/* Other elements */

.tag {
  @insert .pl3 .pr3 .br4 .text-medium .tc .b .ttu;
  height: 1.5rem;
  max-width: 12rem;
  min-width: 4rem;
}
