@import "tachyons";

@tailwind base;
@tailwind components;

:root {
  /* Main colors. Headers, infotext, buttons, borders */

  --color-canvas: #faf8f7;
  --color-bittersweet: #fd7268;
  --color-sapphire: #0a2463;
  --color-fair-pink: #f8ece8;
  --color-solitude: #dfe2ec;

  /* Gray scale. Secondary text, disable status, borders */

  --color-gray-75: #474747;
  --color-gray-25: #c0bfbf;

  /* Feedback Colors */

  --color-success: #78d397;
  --color-error: #c94d07;

  /* Sources Colors */

  --color-youtube: #e52d27;
  --color-twitter: #08a0e9;
  --color-http: #463764;

  /* Random Colors */

  --color-washed-red: #e19f9f;
  --color-washed-purple: #c4ccea;
  --color-washed-blue: #a2cae0;
  --color-washed-green: #b6ddb0;
  --color-washed-yellow: #e4d976;
}

.fair-pink {
  color: var(--color-fair-pink);
}

.solitude {
  color: var(--color-solitude);
}

.gray-25 {
  color: var(--color-gray-25);
}

.gray-75 {
  color: var(--color-gray-75);
}

.success {
  color: var(--color-success);
}

.error {
  color: var(--color-error);
}

/* Borders */

.b--canvas {
  border-color: var(--color-canvas);
}

.b--bittersweet {
  border-color: var(--color-bittersweet);
}

.b--sapphire {
  border-color: var(--color-sapphire);
}

.b--fair-pink {
  border-color: var(--color-fair-pink);
}

.b--solitude {
  border-color: var(--color-solitude);
}

.b--gray-25 {
  border-color: var(--color-gray-25);
}

.b--gray-75 {
  border-color: var(--color-gray-75);
}

.b--error {
  border-color: var(--color-error);
}

.b--youtube {
  border-color: var(--color-youtube);
}

.b--twitter {
  border-color: var(--color-twitter);
}

.b--url {
  border-color: var(--color-url);
}

/* Global elements */
form {
  @apply flex flex-col max-w-lg;
}

::placeholder {
  @apply gray-25 opacity-100;
}

/* Tables */

th {
  @apply p-2;
}

td {
  @apply border-r border-b b--sapphire p-2;
  position: relative;
}

tr {
  @apply bg-white;
}

tr:hover {
  @apply bg-canvas;
}

.card tr:hover {
  @apply bg-white;
}

.trash {
  cursor: pointer;
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  left: -40px;
}

tr:hover .trash {
  display: block;
}

/* Multi Select */
.select {
  position: relative;
}
.select > input {
  height: 35px;
  margin: 0;
  width: 100%;
  padding-right: 26px;
  border-radius: 0px;
  border: 1px solid #dfe2ec;
}
.select > button {
  position: absolute;
  right: 3px;
}

/* Search Bar Input */
.search-bar {
  position: relative;
}
.search-bar > input {
  height: 40px;
  margin: 0;
  width: 100%;
  padding-right: 26px;
  border-radius: 0px;
  border: 1px solid #dfe2ec;
}
.search-bar > button {
  position: absolute;
  right: 3px;
}

@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Noto Sans Bold"), local("NotoSans-Bold"),
      url(../../resources/public/fonts/NotoSans-Bold.ttf) format("truetype");
  }

  @font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Noto Sans"), local("NotoSans"),
      url(../../resources/public/fonts/NotoSans-Regular.ttf) format("truetype");
  }

  html {
    @apply font-noto;
    font-size: 16px;
  }

  body {
    @apply text-gray-dark bg-canvas;
  }

  body:not(.user-is-tabbing) button:focus,
  body:not(.user-is-tabbing) input:focus,
  body:not(.user-is-tabbing) select:focus,
  body:not(.user-is-tabbing) textarea:focus {
    outline: none;
  }
}

@layer utilities {
  .header1 {
    @apply text-3xl text-sapphire leading-none;
  }
  .header2 {
    @apply text-2xl text-sapphire leading-none;
  }
  .header3 {
    @apply text-xl text-sapphire leading-none;
  }
  .header4 {
    @apply text-lg text-sapphire leading-none;
  }
  .header5 {
    @apply text-md leading-none;
  }

  .animate-delay-100 {
    animation-delay: 0.1s;
  }
  .animate-delay-300 {
    animation-delay: 0.3s;
  }
  .animate-delay-500 {
    animation-delay: 0.5s;
  }

  .dim {
    @apply transition-opacity duration-150 ease-in-out;
  }
  .fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s ease;
  }
  .fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s ease;
  }
}
